<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK rel=StyleSheet href="../styles/options.css" TYPE="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-lg" id="opt-button1">Reanudar</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-lg" id="opt-button2">Guardar</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-lg" id="opt-button3">Volver al título</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-lg" id="opt-button4">Salir</button>
            </div>
        </div>
    </div>
    <script src="../Js/options.js"></script>
</body>
</html>